*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

form {
  border: 1px solid black;
  min-width: 500px;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
  gap: 1rem;
}

form label {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 0.5rem;
}

form input {
  flex-grow: 2;
}

form button {
  min-width: 200px;
  min-height: 100px;
  margin: 0 auto;
}
